@import 'tailwindcss';

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-navigation: var(--navigation);
  --color-content-primary: var(--content-primary);
  --color-content-secondary: var(--content-secondary);
  --color-layer: var(--color-layer);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);

  --animate-bump-left: bump-left 0.5s ease-out;
  --animate-bump-bottom: bump-bottom 0.5s ease-out;

  @keyframes bump-left {
    0%,
    100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-4px);
    }
    80% {
      transform: translateX(1px);
    }
  }

  @keyframes bump-bottom {
    0%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(4px);
    }
    80% {
      transform: translateY(-1px);
    }
  }
}

:root {
  --primary: var(--color-white);
  --secondary: #f9f9f9;
  --navigation: hsl(160, 84%, 25%);
  --content-primary: var(--color-gray-700);
  --content-secondary: hsl(0, 0%, 100%);
  --color-layer: var(--color-neutral-200);
  --accent: hsl(160, 85%, 40%);
  --accent-hover: hsl(160, 85%, 37%);
}

.dark {
  --primary: #0a0a0a;
  --secondary: #141414;
  --navigation: hsl(160, 85%, 90%);
  --content-primary: var(--color-neutral-300);
  --content-secondary: hsl(0, 0%, 95%);
  --color-layer: var(--color-neutral-800);
  --accent: hsl(160, 85%, 30%);
  --accent-hover: hsl(160, 85%, 27%);
}

@variant dark (&:where(.dark, .dark *));

html,
body {
  scroll-behavior: smooth;
  background: var(--primary);
}
