@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-secondary: #f9f9f9;
  --color-accent: #10b981;
  --color-accent-hover: #11996c;
  --color-dark: #111111;

  --animate-bump-left: bump-left 0.5s ease-out;
  --animate-bump-bottom: bump-bottom 0.5s ease-out;
}

html {
  scroll-behavior: smooth;
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}

@keyframes bump-left {
  0%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(1px);
  }
}

@keyframes bump-bottom {
  0%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(-1px);
  }
}
